<div class="dialog-interpretation">

    <h1>
        <mat-label>Interprétation </mat-label>

    </h1>

    <mat-form-field class="interpretation" style="margin-top: 3%;" appearance="fill">
        <textarea matInput placeholder="Entrez votre interprétation..." (change)="doTextareaValueChange($event)"></textarea>
      </mat-form-field>

    <div class="dialog-action" style="margin-top: 3%">
        <button mat-flat-button color="primary" (click)="sendComment()" style="background-color: green;">Valider</button>
        <button mat-flat-button color="primary" (click)="closeDialog()" style="margin-left: 10pt; background-color: red;">Refuser</button>
       
    </div>

</div>