<div class="dialog-compte-rendu">

    <h1>
        <mat-label>Compte rendu</mat-label>
    </h1>

    <!--
        Mis en vrac comme ça sans mise en forme
    -->

    <div>{{compteRendu.ress}}
    </div>

    <div class="dialog-action">
        <button mat-flat-button color="primary" (click)="closeDialog()" style="margin-left: 10pt; background-color: red;">Refuser</button>
        <button mat-flat-button color="primary" (click)="openDialog()" style="background-color: green;">Valider</button>
    </div>

</div>