<div class="entete">
    <h1>
        <mat-label>Dr Le Sanglier</mat-label>
    </h1>
</div>

<hr noshade style="width:300px; background-color:black; text-align:left; border:1px solid black;">

<br>

<div class="list-patient">

    <div class="component">

        <div class="list">

            <ul> 
                <li *ngFor="let patient of patients">
                    <button mat-button (click)="changeName(patient)"> {{patient.name[0].family + ' ' +  patient.name[0].given}}</button>
                    <ul>
                        <li *ngFor="let rdv of patient.rdv">
                            <button mat-button (click)="changeNameWithRdv(patient, rdv)">{{rdv.start}}</button>
                        </li>           
                    </ul> 
                </li>
              </ul>


        </div>

        <div class="detail">
            <br>
            <app-component-detail [patientChild]=patientChild [rdvChild]=rdvChild></app-component-detail>
        </div>
    </div>
</div>