<div class="entete">
    <h1>
        <mat-label>Dr Le Sanglier</mat-label>
    </h1>
</div>

<hr noshade style="width:300px; background-color:black; text-align:left; border:1px solid black;">

<div class="list-patient">

    <form class="action">
        <mat-form-field>
            <input matInput type="search" placeholder="Entrez un nom !" class="search-input">
        </mat-form-field>
        <mat-icon class="search">search</mat-icon>
    </form>


    <div class="component">

        <div class="list">

            <ul> 
                <li *ngFor="let patient of patients" (click)="changeName(patient)" >
                  <button mat-button> {{patient.name[0].family + ' ' +  patient.name[0].given}}</button>
                 </li>
              </ul>


        </div>

        <div class="detail">
            <app-component-detail [patientChild]=patientChild></app-component-detail>
        </div>
    </div>
</div>